@model IEnumerable<ServicioWebAvance2.Models.Musica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Musica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Musica)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Musica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Musica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Musica }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Musica }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Musica })
        </td>
    </tr>
}

</table>
